@model MvcMovie.Models.ProductUnit

@{
    ViewData["Title"] = "Details";
    string Title = Model.Product.Title;
    string Type = Model.UnitType.Name;
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDefault)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
